---
import footerLogo from "../images/footer-logo.svg";
import x from "../images/x.svg";
import instagram from "../images/instagram.svg";
import discord from "../images/discord.svg";
---

<footer>
  <div>
    <div aria-label="logo">
      <img class="hidden lg:block" src={footerLogo.src} />
    </div>
    <div
      aria-label="links"
      class="flex flex-col items-center justify-center gap-16 pt-10 lg:flex-row lg:items-stretch lg:justify-between"
    >
      <div
        aria-label="email"
        class="flex flex-col gap-4 text-center lg:text-start"
      >
        <div class="text-inserting">Stay in the loop</div>

        <div
          class="relative w-fit overflow-hidden rounded-lg border border-[rgb(255,245,0)]"
        >
          <input
            type="email"
            class="px-2 py-2 pr-32 text-black focus:outline-none sm:w-[400px] lg:w-[275px] lg:px-4 lg:py-4"
            placeholder="Enter your email"
          />
          <button
            class="absolute right-0 h-full bg-[rgb(255,245,0)] px-4 py-2 text-black"
          >
            Subscribe
          </button>
        </div>
      </div>
      <div aria-label="end of the site" class="flex flex-col gap-10 lg:gap-20">
        <div
          aria-label="socials"
          class="flex justify-center gap-20 lg:justify-end"
        >
          <div
            aria-label="first list"
            class="flex flex-col gap-3 text-center text-zinc-400 *:cursor-pointer lg:text-start"
          >
            <div class="hover:text-yellow-300">Marketplace</div>
            <div class="hover:text-yellow-300">API</div>
            <div class="hover:text-yellow-300">RARI Foundation</div>
          </div>
          <div
            aria-label="second list"
            class="flex flex-col gap-3 text-center text-zinc-400 *:cursor-pointer lg:text-start"
          >
            <div class="hover:text-yellow-300">Blog</div>
            <div class="hover:text-yellow-300">Careers</div>
            <div class="hover:text-yellow-300">Help center</div>
            <div class="hover:text-yellow-300">Brand Kit</div>
          </div>

          <div
            aria-label="social images"
            class="hidden h-fit items-center gap-8 lg:flex"
          >
            <img class="w-7" src={x.src} />
            <img class="w-7" src={instagram.src} />
            <img class="w-8 translate-y-0.5" src={discord.src} />
          </div>
        </div>

        <div
          aria-label="social images"
          class="flex h-fit items-center justify-center gap-8 lg:hidden"
        >
          <img class="w-7" src={x.src} />
          <img class="w-7" src={instagram.src} />
          <img class="w-8 translate-y-0.5" src={discord.src} />
        </div>

        <div
          aria-label="copyrights"
          class="hidden justify-between p-10 lg:flex"
        >
          <div class="text-zinc-500">© 2023 Rarible, Inc.</div>
          <div class="text-zinc-500">
            Don’t like the forms? — partnerships@rarible.com
          </div>
        </div>
      </div>
    </div>
    <div
      aria-label="copyrights"
      class="flex flex-col justify-center gap-4 p-10 text-center lg:hidden"
    >
      <div class="text-zinc-500">
        Don’t like the forms? <br /> partnerships@rarible.com
      </div>
      <div class="text-zinc-500">© 2023 Rarible, Inc.</div>
    </div>
  </div>
</footer>
