---
import type { string } from "astro/zod";

interface Props {
  heading: string;
  backgroundSrc: string;
  description: string;
  cards: string[];
  examples: string;
}
const props = Astro.props;
---

<div
  aria-label="Web3 ecosystems"
  class="group relative overflow-hidden rounded-3xl border border-gray-700/70 lg:h-96"
>
  <img
    class="absolute top-0 h-full w-full object-cover opacity-45 transition-opacity duration-500 lg:opacity-0 lg:group-hover:opacity-50"
    src={props.backgroundSrc}
  />
  <div class="p-10">
    <div class="relative z-10 hidden text-heading lg:block">
      {props.heading}
    </div>
    <div class="relative z-10 text-heading-mobile lg:hidden">
      {props.heading}
    </div>

    <div
      aria-label="description"
      class="flex flex-col gap-4 lg:flex-row lg:gap-10"
    >
      <div class="w-fit py-2 text-2xl lg:max-w-xl lg:text-heading-description">
        {props.description}
      </div>
      <div class="flex flex-col gap-1">
        {
          props.cards.map((card) => (
            <div class="w-fit rounded-3xl border border-zinc-700/50 bg-zinc-800 p-0.5 px-2.5 font-mono text-hovercard-description">
              {card}
            </div>
          ))
        }
        <div aria-label="examples" class="flex flex-col px-1 py-6">
          {props.examples}
        </div>
      </div>
      <!-- <div
            aria-label="rounded blocks"
            class="font-mono p-4 flex flex-col gap-1"
          >
            <div
              class="border rounded-3xl border-zinc-700/50 bg-zinc-800 p-0.5 px-2.5 w-fit"
            >
              CUSTOM FEATURES: UI, REWARDS PROGRAMS, NATIVE TOKEN SUPPORT AND
              MUCH MORE
            </div>
            <div
              class="border rounded-3xl border-zinc-700/50 bg-zinc-800 p-0.5 px-2.5 w-fit"
            >
              ON-BRAND EXPERIENCE FOR YOUR CUSTOMERS
            </div>
            <div
              class="border rounded-3xl border-zinc-700/50 bg-zinc-800 p-0.5 px-2.5 w-fit"
            >
              OPTIMAL RETENTION — NO NEED TO SEND YOUR USERS ELSEWHERE
            </div>
          </div> -->
    </div>
  </div>
</div>
