---
import type { string } from "astro/zod";

interface Props {
  heading: string;
  backgroundSrc: string;
  description: string;
  cards: string[];
  examples: string;
}
const props = Astro.props;
---

<div
  aria-label="Web3 ecosystems"
  class="lg:h-96 border rounded-3xl border-gray-700/70 overflow-hidden group relative"
>
  <img
    class="object-cover lg:group-hover:opacity-50 opacity-45 lg:opacity-0 transition-opacity duration-500 absolute top-0 h-full w-full"
    src={props.backgroundSrc}
  />
  <div class="p-10">
    <div class="relative text-heading z-10 hidden lg:block">
      {props.heading}
    </div>
    <div class="relative text-heading-mobile z-10 lg:hidden">
      {props.heading}
    </div>

    <div
      aria-label="description"
      class="lg:flex-row flex flex-col lg:gap-10 gap-4"
    >
      <div class="lg:text-heading-description text-2xl py-2 lg:max-w-xl w-fit">
        {props.description}
      </div>
      <div class="flex flex-col gap-1">
        {
          props.cards.map((card) => (
            <div class="border rounded-3xl border-zinc-700/50 bg-zinc-800 p-0.5 px-2.5 w-fit font-mono text-hovercard-description">
              {card}
            </div>
          ))
        }
        <div aria-label="examples" class="flex flex-col py-6 px-1">
          {props.examples}
        </div>
      </div>
      <!-- <div
            aria-label="rounded blocks"
            class="font-mono p-4 flex flex-col gap-1"
          >
            <div
              class="border rounded-3xl border-zinc-700/50 bg-zinc-800 p-0.5 px-2.5 w-fit"
            >
              CUSTOM FEATURES: UI, REWARDS PROGRAMS, NATIVE TOKEN SUPPORT AND
              MUCH MORE
            </div>
            <div
              class="border rounded-3xl border-zinc-700/50 bg-zinc-800 p-0.5 px-2.5 w-fit"
            >
              ON-BRAND EXPERIENCE FOR YOUR CUSTOMERS
            </div>
            <div
              class="border rounded-3xl border-zinc-700/50 bg-zinc-800 p-0.5 px-2.5 w-fit"
            >
              OPTIMAL RETENTION — NO NEED TO SEND YOUR USERS ELSEWHERE
            </div>
          </div> -->
    </div>
  </div>
</div>
